nav {
  position: absolute;
  bottom: 0.8rem;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.indicadorNav {
  height: 7px;
  width: 30px;
  transform: rotate(90deg);
  margin: 1em 0;
}

.indicadorPagina:hover {
  cursor: pointer;
}

.ativo {
  width: 45px;
}

.invertido {
  stroke: var(--cor-primaria) !important;
}

.linguas {
  position: fixed;
  color: var(--cor-secundaria);
  margin: 0.5em 1.5em;
  z-index: 2;
  right: 0;
  bottom: 1em;
}

.linguas button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--cor-secundaria);
}

.linguas .inativo {
  color: darkgray;
  width: auto;
}

.linguas .invertido {
  color: var(--cor-primaria);
}

.linguas.invertido span {
  color: var(--cor-primaria);
}

.linguas .inativo.invertido {
  color: darkgray;
}

@media screen and (min-width: 900px) {

  nav {
    right: 10px;
    justify-content: flex-end;
  }

  .indicadorPagina {
    height: 6px;
    width: 40px;
  }

  .primeiro {
    width: 65px;
  }

  .linguas {
    display: inline;
    top: 0;
  }

}