* {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
    color: white;
}

html {
    overflow-y: hidden;
    background: #353535;
}

article {
    height: 100vh;
    transition: all 1s ease-in-out;
}

hr {
    width: 100px;
    border: 2px solid #D16666;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 4em;
}

.barraLateral {
    width: 20px;
    height: 100%;
    background: white;
    border: 2px solid white;
    margin-right: 100px;
}

.pequena {
    height: 5%;
}

.align-left{
    margin-right: 80px;
}

.align-right{
    margin-left: 80px;
}

#inicio {
    display: flex;
    align-items: center;
}

#inicio .hexagon {
    background: white;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(50% 2%, 93% 25%, 93% 75%, 50% 98%, 7% 75%, 7% 25%);
}

#inicio div {
    height: 100vh;
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inicio section * {
    margin: 3px;
}

#projetos {
    background: #EEE4E1;
}

#projetos h2 {
    color: #353535;
}