@font-face {
    font-family: FuturaPTLight;
    src: url(fonts/FuturaPTLight.otf) format("opentype");
}

@font-face {
    font-family: FuturaPTDemi;
    src: url(fonts/FuturaPTDemi.otf) format("opentype");
}

body {
    background-image: url(images/engrenagens.svg);
    background-repeat: no-repeat;
    background-position: right -50px top -80px;
    background-size: min(550px, 60%);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-family: FuturaPTLight;
    font-weight: 20%;
    color: #999;
    position: absolute;
    font-size: min(130px, 15vw);
    margin: 0 0 50px 60px;
    bottom: 0;
}

p {
    margin: 0;
    line-height: .75;
}

#subTexto {
    font-family: FuturaPTDemi;
    color: #666;
}

#engrenagens {
    position: fixed;
    height: 80%;
    width: auto;
    top: -100px;
    right: -50px;
}

@media screen and (max-width:800px) {
    html {
        /* Tem que ver isso aqui, ta estranho o bagulho */
        /* Encontrar uma maneira melhor de evitar o overflow da altura da página */
        height: -webkit-fill-available;
    }
    body {
        height: -webkit-fill-available;
        background-position: left 50% top calc(50% + 40px);
    }
    h1 {
        /* Encontrar uma maneira melhor de centralizar o conteúdo */
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -5%);
    }
}