:root {
    --cor-primaria: #353535;
    --cor-secundaria: white;
    --cor-terciaria: #EEE4E1;
    --cor-detalhe: #D16666;
    --valor-ativo: 65px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
    color: var(--cor-secundaria);
}

html {
    overflow-y: hidden;
    background-color: var(--cor-primaria);
}

article {
    height: 100vh;
    transition: transform 1.5s;
}

hr {
    margin: 10px;
    width: 100px;
    border: 2px solid var(--cor-detalhe);
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 4em;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3em;
}

h5 {    
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
}

.ativo{
    width: var(--valor-ativo);
}

.hexagon {
    background-color: var(--cor-secundaria);
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(50% 2%, 93% 25%, 93% 75%, 50% 98%, 7% 75%, 7% 25%);
}

.barraLateral {
    margin: 0;
    width: 20px;
    height: 100%;
    background-color: var(--cor-secundaria);
    border: 2px solid var(--cor-secundaria);
    margin-right: 100px;
}

.links {
    position: absolute;
    display: flex;
    padding: 10px 15px;
    margin-left: 25px;
    margin-top: 15px;
}

/* Página de início */

#inicio {
    display: flex;
    align-items: center;
}

#inicio .hexagon {
    height: 150px;
    width: 150px;
}

#inicio .links {
    flex-direction: column;
}

#inicio section {
    margin-left: 300px;
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inicio section * {
    margin: 3px;
}

/* Página sobre mim */

#sobreMim {
    display: flex;
}

#sobreMim .hexagon {
    transform: rotate(90deg);
}

#sobreMim section {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sobreMim .moldura {
    height: 150px;
}

#fotoGabriel {
    height: 400px;
}

#bordaCima {
    margin-left: 130px;
    margin-bottom: -150px;
}

#bordaBaixo {
    margin-left: -325px;
    margin-bottom: -15px;
}

#tecnologias {
    margin: 10px;
}

#sobreMim .barraLateral {
    height: 5%;
}

/* Página de projetos */

/* Backgroud */
#projetos {
    background-color: var(--cor-terciaria);
    display: flex;
    flex-direction: column;
}

/* Titulos */
#projetos h2 {
    color: var(--cor-primaria);
    text-align: center;
    padding: 20px;
}

#projetos .hexagon {
    transform: rotate(90deg);
}

/* Timeline */
#timeline {
    height: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    overflow-y: scroll;
    width: fit-content;
    margin: auto;
}

#timeline::-webkit-scrollbar{
    display: none;
}

/* Conteúdo da timeline */
.caixaAno {
    color: var(--cor-primaria);
    width: fit-content;
    padding: 10px 15px;
    border: 2px solid var(--cor-primaria);
}

.containerProjeto{
    display: flex;
    align-items: center;
}

.esquerda{
    flex-flow: row-reverse;
}
 
.projeto {
    height: fit-content;
    display: flex;
    align-items: center;
    flex-flow: inherit;
}

.conteudoProjeto {
    background: var(--cor-primaria);
    padding: 10px 15px;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.espacoVazio{
    display: flex;
    width: 90px;
    flex: 1;
}

.imagem {
    width: 300px;
    height: 180px;
    background: var(--cor-secundaria);
}

.seta{
    margin: 0;
    border: 0;
    width: 10vw;
    height: 2px;
    background-color: var(--cor-primaria);
}

.linhaPrincipal{
    margin: 0;
    border: 0;
    width: 2px;
    height: 100%;
    background-color: var(--cor-primaria);
}

.projeto hr {
    margin-top: 5px;
    width: 50px;
    border: 1px solid var(--cor-detalhe);
}

/* Barra de links */
#projetos .links {
    background-color: var(--cor-primaria);
    position: relative;
    width: fit-content;
}